# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
*.egg
dist/
build/
*.spec

# Virtual Environment
venv/
.venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store
desktop.ini

# PyInstaller
*.manifest
*.exe
!EasyLocalhost.spec

# Misc
*.log
local/
